<script lang="ts">
  export let width: number;
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 68 68"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_310_949)">
    <path
      d="M35.1049 23.1365V22.0417C35.1049 21.7654 34.9987 21.5004 34.8096 21.3051C34.6206 21.1097 34.3642 21 34.0968 21C33.8295 21 33.5731 21.1097 33.384 21.3051C33.195 21.5004 33.0888 21.7654 33.0888 22.0417V23.1365C31.0593 23.3245 29.1194 24.0877 27.4829 25.3421C25.8464 26.5965 24.5767 28.2933 23.8137 30.2457C23.0508 32.1981 22.8242 34.3302 23.1589 36.4071C23.4936 38.484 24.3767 40.4252 25.7107 42.0167C25.1839 42.286 24.7436 42.707 24.443 43.2289C24.1423 43.7508 23.9941 44.3514 24.0162 44.9583C24.0162 45.2346 24.1224 45.4996 24.3114 45.6949C24.5005 45.8903 24.7569 46 25.0242 46C25.2916 46 25.548 45.8903 25.737 45.6949C25.9261 45.4996 26.0323 45.2346 26.0323 44.9583C26.0239 44.6373 26.1355 44.3252 26.3438 44.0868C26.5521 43.8484 26.8413 43.7021 27.1513 43.6781C27.2206 43.6645 27.2882 43.6428 27.3529 43.6135C29.2838 45.1611 31.6581 46.0011 34.1019 46.0011C36.5456 46.0011 38.9199 45.1611 40.8509 43.6135C40.9099 43.6416 40.9713 43.664 41.0343 43.6802C41.3454 43.7021 41.6362 43.8473 41.8462 44.0854C42.0562 44.3236 42.1691 44.6363 42.1613 44.9583C42.1613 45.2346 42.2675 45.4996 42.4566 45.6949C42.6456 45.8903 42.902 46 43.1694 46C43.4368 46 43.6932 45.8903 43.8822 45.6949C44.0713 45.4996 44.1775 45.2346 44.1775 44.9583C44.1995 44.3514 44.0513 43.7508 43.7507 43.2289C43.45 42.707 43.0098 42.286 42.4829 42.0167C43.817 40.4252 44.7 38.484 45.0347 36.4071C45.3694 34.3302 45.1428 32.1981 44.3799 30.2457C43.617 28.2933 42.3473 26.5965 40.7107 25.3421C39.0742 24.0877 37.1344 23.3245 35.1049 23.1365ZM25.0242 34.5417C25.0242 32.6875 25.5563 30.8749 26.5532 29.3332C27.5502 27.7915 28.9671 26.5899 30.6249 25.8803C32.2827 25.1707 34.1069 24.9851 35.8668 25.3468C37.6267 25.7085 39.2433 26.6014 40.5121 27.9125C41.7809 29.2237 42.645 30.8941 42.9951 32.7127C43.3451 34.5313 43.1655 36.4163 42.4788 38.1293C41.7921 39.8424 40.6293 41.3066 39.1373 42.3367C37.6453 43.3668 35.8912 43.9167 34.0968 43.9167C31.6915 43.9136 29.3856 42.9249 27.6848 41.1674C25.984 39.4099 25.0272 37.0271 25.0242 34.5417Z"
      class="fill-bgs1"
    />
    <path
      d="M41.3699 21C41.1025 21 40.8461 21.1098 40.6571 21.3051C40.468 21.5005 40.3618 21.7654 40.3618 22.0417C40.3618 22.3179 40.468 22.5829 40.6571 22.7782C40.8461 22.9736 41.1025 23.0833 41.3699 23.0833C41.7214 23.0557 42.0747 23.102 42.4084 23.2193C42.7422 23.3366 43.0495 23.5225 43.3119 23.7658C43.5742 24.0092 43.7861 24.3049 43.9349 24.6352C44.0836 24.9654 44.1661 25.3234 44.1773 25.6875C44.1773 25.9638 44.2835 26.2287 44.4726 26.4241C44.6616 26.6194 44.918 26.7292 45.1854 26.7292C45.4528 26.7292 45.7092 26.6194 45.8982 26.4241C46.0873 26.2287 46.1935 25.9638 46.1935 25.6875C46.1806 25.0505 46.0449 24.4226 45.7943 23.8405C45.5437 23.2583 45.1833 22.7337 44.7342 22.2972C44.285 21.8607 43.7561 21.5212 43.1785 21.2984C42.6008 21.0757 41.9859 20.9743 41.3699 21Z"
      class="fill-bgs1"
    />
    <path
      d="M24.0161 25.6873C24.0274 25.3232 24.1098 24.9652 24.2586 24.6349C24.4073 24.3047 24.6193 24.0089 24.8816 23.7656C25.1439 23.5222 25.4513 23.3363 25.785 23.219C26.1188 23.1017 26.4721 23.0555 26.8236 23.0831C27.0909 23.0831 27.3473 22.9734 27.5364 22.778C27.7254 22.5827 27.8317 22.3177 27.8317 22.0414C27.8317 21.7652 27.7254 21.5002 27.5364 21.3049C27.3473 21.1095 27.0909 20.9998 26.8236 20.9998C26.2075 20.974 25.5927 21.0755 25.015 21.2982C24.4373 21.5209 23.9085 21.8605 23.4593 22.2969C23.0101 22.7334 22.6497 23.2581 22.3992 23.8402C22.1486 24.4224 22.0129 25.0503 22 25.6873C22 25.9635 22.1062 26.2285 22.2953 26.4238C22.4843 26.6192 22.7407 26.7289 23.0081 26.7289C23.2754 26.7289 23.5318 26.6192 23.7209 26.4238C23.9099 26.2285 24.0161 25.9635 24.0161 25.6873Z"
      class="fill-bgs1"
    />
    <path
      d="M35.1048 33.0688V28.2917C35.1048 28.0154 34.9985 27.7504 34.8095 27.5551C34.6204 27.3597 34.364 27.25 34.0967 27.25C33.8293 27.25 33.5729 27.3597 33.3839 27.5551C33.1948 27.7504 33.0886 28.0154 33.0886 28.2917V33.5C33.0887 33.7762 33.1949 34.0412 33.384 34.2365L36.4082 37.3615C36.5983 37.5512 36.8529 37.6562 37.1173 37.6538C37.3816 37.6515 37.6344 37.5419 37.8213 37.3488C38.0082 37.1556 38.1142 36.8944 38.1165 36.6213C38.1188 36.3481 38.0172 36.085 37.8336 35.8885L35.1048 33.0688Z"
      class="fill-bgs1"
    />
  </g>
  <defs>
    <clipPath id="clip0_310_949">
      <rect
        width="24.1935"
        height="25"
        fill="white"
        transform="translate(22 21)"
      />
    </clipPath>
  </defs>
</svg>
