<script lang="ts">
  export let width = 30;
</script>

<svg
  xmlns="http://www.w3.org/2000/svg"
  version="1.1"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  {width}
  height={width}
  x="0"
  y="0"
  viewBox="0 0 510 510"
  style="enable-background:new 0 0 512 512"
  xml:space="preserve"
  class=""
  ><g
    ><linearGradient id="a"
      ><stop offset="0" stop-color="#ffe548" /><stop
        offset=".176"
        stop-color="#ffde50"
      /><stop offset=".445" stop-color="#ffca65" /><stop
        offset=".771"
        stop-color="#ffaa87"
      /><stop offset="1" stop-color="#ff90a4" /></linearGradient
    ><linearGradient
      xlink:href="#a"
      id="i"
      x1="1053.46"
      x2="1308.866"
      y1="-446.895"
      y2="-401.287"
      gradientTransform="rotate(45.09 -277.199 -1282.713)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="b"
      ><stop offset="0" stop-color="#fba5c2" stop-opacity="0" /><stop
        offset=".386"
        stop-color="#fca0ba"
        stop-opacity=".386"
      /><stop offset=".974" stop-color="#ff91a5" stop-opacity=".974" /><stop
        offset="1"
        stop-color="#ff90a4"
      /></linearGradient
    ><linearGradient
      xlink:href="#b"
      id="j"
      x1="189.058"
      x2="160.679"
      y1="415.585"
      y2="516.266"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#b"
      id="k"
      x1="217.65"
      x2="182.513"
      y1="355.512"
      y2="482.546"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#b"
      id="l"
      x1="241.013"
      x2="197.092"
      y1="286.51"
      y2="431.112"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#a"
      id="m"
      x1="266.058"
      x2="219.434"
      y1="233.389"
      y2="338.801"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="c"
      ><stop offset="0" stop-color="#ffd00d" stop-opacity="0" /><stop
        offset="1"
        stop-color="#db722b"
      /></linearGradient
    ><linearGradient
      xlink:href="#c"
      id="n"
      x1="222.045"
      x2="287.927"
      y1="313.063"
      y2="211.707"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#c"
      id="o"
      x1="283.177"
      x2="241.621"
      y1="268.552"
      y2="141.856"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      id="p"
      x1="332.406"
      x2="298.958"
      y1="338.387"
      y2="283.654"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
      ><stop offset="0" stop-color="#a34a9e" stop-opacity="0" /><stop
        offset="1"
        stop-color="#343168"
      /></linearGradient
    ><linearGradient id="d"
      ><stop offset="0" stop-color="#a34a9e" /><stop
        offset="1"
        stop-color="#343168"
      /></linearGradient
    ><linearGradient
      xlink:href="#d"
      id="q"
      x1="816.741"
      x2="795.136"
      y1="104.448"
      y2="23.715"
      gradientTransform="rotate(16.05 -175.944 -1331.222)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="e"
      ><stop offset="0" stop-color="#3fa9f5" /><stop
        offset="1"
        stop-color="#666ad6"
      /></linearGradient
    ><linearGradient
      xlink:href="#e"
      id="r"
      x1="-360.316"
      x2="-344.596"
      y1="299.54"
      y2="311.95"
      gradientTransform="rotate(-14.76 -1000.825 -1670.319)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#d"
      id="s"
      x1="-1026.41"
      x2="-1010.69"
      y1="-413.642"
      y2="-401.232"
      gradientTransform="rotate(-52.32 47.91 -1279.706)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="f"
      ><stop offset="0" stop-color="#ff4974" /><stop
        offset=".45"
        stop-color="#fe4773"
      /><stop offset=".629" stop-color="#fc406d" /><stop
        offset=".76"
        stop-color="#f73464"
      /><stop offset=".868" stop-color="#f12257" /><stop
        offset=".961"
        stop-color="#e80c46"
      /><stop offset="1" stop-color="#e4003d" /></linearGradient
    ><linearGradient
      xlink:href="#f"
      id="t"
      x1="431.698"
      x2="383.723"
      y1="392.08"
      y2="421.135"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="g"
      ><stop offset="0" stop-color="#c4f8b6" /><stop
        offset="1"
        stop-color="#3b8eac"
      /></linearGradient
    ><linearGradient
      xlink:href="#g"
      id="u"
      x1="440.233"
      x2="417.935"
      y1="332.545"
      y2="396.738"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><radialGradient
      xlink:href="#f"
      id="v"
      cx="172.969"
      cy="36.437"
      r="200.758"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient id="h"
      ><stop offset="0" stop-color="#e4003d" stop-opacity="0" /><stop
        offset=".343"
        stop-color="#cd0e2d"
        stop-opacity=".343"
      /><stop offset="1" stop-color="#972e07" /></linearGradient
    ><linearGradient
      xlink:href="#h"
      id="w"
      x1="316.226"
      x2="243.756"
      y1="179.284"
      y2="127.085"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#h"
      id="x"
      x1="206.325"
      x2="226.597"
      y1="142.125"
      y2="160.876"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#e"
      id="y"
      x1="272.384"
      x2="305.832"
      y1="209.862"
      y2="254.459"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#e"
      id="z"
      x1="466.217"
      x2="499.665"
      y1="195.568"
      y2="240.165"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#d"
      id="A"
      x1="375.15"
      x2="408.597"
      y1="40.9"
      y2="85.497"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#g"
      id="B"
      x1="376.38"
      x2="400.762"
      y1="152.303"
      y2="184.813"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><linearGradient
      xlink:href="#a"
      id="C"
      x1="407.748"
      x2="432.13"
      y1="92.256"
      y2="124.766"
      gradientTransform="translate(-2.433 .519)"
      gradientUnits="userSpaceOnUse"
    /><path
      fill="url(#i)"
      d="M375.307 393.752c-1.73 1.724-3.826 3.025-6.271 3.916l-2.467.741S33.915 532.627 8.049 506.667c-25.866-25.961 109.562-358.124 109.562-358.124l.75-2.464c.9-2.442 2.209-4.533 3.939-6.257 20.693-20.618 94.111 19.508 163.976 89.628S396 373.135 375.307 393.752z"
      data-original="url(#i)"
    /><path
      fill="url(#j)"
      d="M354.611 403.178a4781.896 4781.896 0 0 1-93.953 36.064c-25.316 9.411-53.005 19.435-80.5 28.882-24.027 8.257-47.91 16.089-69.917 22.688-15.12-12.707-30.146-26.489-44.867-41.263s-28.447-29.851-41.099-45.017c6.679-21.982 14.598-45.838 22.943-69.834 9.547-27.461 19.672-55.113 29.175-80.394a4789.035 4789.035 0 0 1 36.406-93.821c44.634 24.204 92.329 59.999 137.239 105.073 44.911 45.075 80.532 92.9 104.573 137.622z"
      data-original="url(#j)"
    /><path
      fill="url(#k)"
      d="M375.305 393.749c-1.726 1.73-3.827 3.024-6.271 3.921l-2.464.735s-4.301 1.735-11.959 4.772a4781.896 4781.896 0 0 1-93.953 36.064c-25.316 9.411-53.005 19.435-80.5 28.882-23.898-18.024-47.851-38.846-71.06-62.14s-43.943-47.323-61.881-71.286c9.547-27.461 19.672-55.113 29.175-80.394a4789.035 4789.035 0 0 1 36.406-93.821c3.065-7.647 4.816-11.941 4.816-11.941l.744-2.462c.907-2.441 2.208-4.537 3.944-6.257 20.694-20.619 94.105 19.51 163.975 89.624 69.861 70.127 109.722 143.684 89.028 164.303z"
      data-original="url(#k)"
    /><path
      fill="url(#l)"
      d="M375.305 393.749c-1.726 1.73-3.827 3.024-6.271 3.921l-2.464.735s-4.301 1.735-11.959 4.772a4781.896 4781.896 0 0 1-93.953 36.064c-33.691-22.188-68.203-50.306-101.205-83.429s-60.995-67.737-83.06-101.508a4789.035 4789.035 0 0 1 36.406-93.821c3.065-7.647 4.816-11.941 4.816-11.941l.744-2.462c.907-2.441 2.208-4.537 3.944-6.257 20.694-20.619 94.105 19.51 163.975 89.624 69.86 70.126 109.721 143.683 89.027 164.302z"
      data-original="url(#l)"
    /><path
      fill="url(#m)"
      d="M375.304 393.755c-20.697 20.622-94.114-19.504-163.979-89.625S101.6 160.448 122.297 139.825s94.114 19.504 163.979 89.625 109.725 143.683 89.028 164.305z"
      data-original="url(#m)"
    /><path
      fill="url(#n)"
      d="M362.405 374.853c-15.29 15.235-77.215-22.125-138.312-83.445s-98.231-123.38-82.941-138.615 77.215 22.125 138.312 83.445 98.232 123.38 82.941 138.615z"
      data-original="url(#n)"
    /><path
      fill="url(#o)"
      d="M375.307 393.752c20.693-20.618-19.165-94.181-89.031-164.301-40.967-41.116-83.15-71.911-115.214-86.202a74.091 74.091 0 0 0 4.21 6.84c2.537 3.66 5.507 6.996 8.851 10.004l17.741 17.864a68.641 68.641 0 0 1-5.504 2.219 6.012 6.012 0 0 0-3.893 6.863l6.278 31.184a7.802 7.802 0 0 0 4.906 5.766l170.324 170.945c.465-.368.91-.761 1.332-1.182z"
      data-original="url(#o)"
    /><path
      fill="url(#p)"
      d="m262.055 296.866 17.422 20.827 81.157 81.453c6.203-.175 11.187-1.918 14.671-5.39 18.086-18.021-10.071-76.467-64.083-137.717a215.226 215.226 0 0 0-47.693 27.543c-4.186 3.194-4.853 9.245-1.474 13.284z"
      data-original="url(#p)"
    /><path
      fill="url(#q)"
      d="m279.477 317.693-17.422-20.827c-3.379-4.039-2.712-10.089 1.473-13.285 53.993-41.222 124.224-54.611 189.815-35.746a215.482 215.482 0 0 1 47.111 19.831c4.577 2.607 6.044 8.518 3.232 12.972l-14.494 22.961c-2.628 4.163-8.049 5.523-12.343 3.117a169.98 169.98 0 0 0-36.112-15.047c-51.295-14.753-106.195-4.459-148.614 27.471-3.932 2.959-9.489 2.327-12.646-1.447z"
      data-original="url(#q)"
      class=""
    /><path
      fill="url(#r)"
      d="m128.928 101.472-15.819-16.277c-7.17-7.378-9.329-19.254-5.142-28.284 4.861-10.485 16.527-13.558 25.923-6.829 8.093 5.796 12.065 17.194 9.46 27.147l-5.746 21.958c-1.015 3.88-5.88 5.162-8.676 2.285z"
      data-original="url(#r)"
      class=""
    /><path
      fill="url(#s)"
      d="m100.947 119.148-22.462-3.264c-10.181-1.479-19.131-9.579-21.315-19.29-2.536-11.276 4.84-20.822 16.39-21.213 9.948-.337 20.044 6.278 24.045 15.757l8.827 20.911c1.561 3.695-1.516 7.676-5.485 7.099z"
      data-original="url(#s)"
    /><path
      fill="url(#t)"
      d="m401.689 380.249 22.605-2.046c10.246-.927 20.833 4.87 25.214 13.808 5.087 10.377.132 21.376-11.011 24.442-9.598 2.64-20.954-1.448-27.049-9.737l-13.445-18.287c-2.375-3.232-.309-7.819 3.686-8.18z"
      data-original="url(#t)"
    /><path
      fill="url(#u)"
      d="m405.567 347.38 16.675-15.399c7.558-6.98 19.485-8.835 28.406-4.42 10.358 5.127 13.133 16.867 6.166 26.089-6 7.943-17.496 11.623-27.379 8.766l-21.805-6.304c-3.852-1.114-5.009-6.011-2.063-8.732z"
      data-original="url(#u)"
    /><path
      fill="url(#v)"
      d="M208.759 224.124c-4.423 1.426-9.097-1.344-10.014-5.9l-6.278-31.184a6.012 6.012 0 0 1 3.893-6.863c3.306-1.165 7.9-3.082 12.649-6.002-14.343-4.735-26.014-12.945-33.736-24.085-14.558-21.003-15.699-44.677-3.054-63.328 12.513-18.456 35.634-27.46 57.539-22.403 23.947 5.528 40.768 26.481 44.996 56.051.176 1.231.332 2.456.467 3.676 5.875-3.442 10.622-7.688 13.595-12.441 7.526-12.029 8.24-29.981 1.822-45.734-4.074-9.998-10.363-17.644-17.456-21.49-3.164-1.715-4.85-5.274-4.002-8.771l7.192-29.657c1.102-4.542 5.94-7.156 10.305-5.484 20.129 7.709 36.691 24.854 46.2 48.19 11.95 29.328 9.884 62.716-5.393 87.136-12.087 19.32-34.379 33.731-60.155 39.823-5.79 12.106-14.455 22.741-25.82 31.454-12.136 9.302-24.709 14.42-32.75 17.012zm8.94-115.523c-2.983-.005-6.186 1.48-7.728 3.756-2.304 3.398.758 8.821 2.788 11.75 2.784 4.017 9.266 7.014 17.431 8.356a72.762 72.762 0 0 0-.588-5.597c-1.457-10.188-5.234-16.941-10.104-18.065a8.046 8.046 0 0 0-1.799-.2z"
      data-original="url(#v)"
      class=""
    /><path
      fill="url(#w)"
      d="m307.915 156.897-32.694-32.813s2.088 31.684-7.893 51.573c15.201-3.592 29.188-10.08 40.587-18.76z"
      data-original="url(#w)"
    /><path
      fill="url(#x)"
      d="M212.759 124.107c-1.487-2.146-3.519-5.627-3.599-8.673l-45.672-.083c.071 11.561 4.016 23.53 11.785 34.739 7.722 11.141 19.392 19.351 33.736 24.085 0 0 23.408-7.101 21.182-41.712-8.166-1.342-14.648-4.339-17.432-8.356z"
      data-original="url(#x)"
    /><path
      fill="url(#y)"
      d="M309.607 227.979a89.92 89.92 0 0 0-26.499 26.656c-1.541 2.394-5.096 2.388-6.628-.012a89.921 89.921 0 0 0-26.402-26.753c-2.348-1.542-2.341-5.049.012-6.582a89.931 89.931 0 0 0 26.499-26.656c1.54-2.394 5.096-2.388 6.628.012a89.933 89.933 0 0 0 26.402 26.753c2.348 1.542 2.341 5.049-.012 6.582z"
      data-original="url(#y)"
    /><path
      fill="url(#z)"
      d="M503.466 214.039a89.92 89.92 0 0 0-26.499 26.656c-1.54 2.394-5.096 2.388-6.628-.012a89.921 89.921 0 0 0-26.402-26.753c-2.348-1.542-2.341-5.049.012-6.582a89.931 89.931 0 0 0 26.499-26.656c1.54-2.394 5.096-2.388 6.628.012a89.933 89.933 0 0 0 26.402 26.753c2.348 1.541 2.341 5.048-.012 6.582z"
      data-original="url(#z)"
    /><path
      fill="url(#A)"
      d="M412.68 59.204a89.92 89.92 0 0 0-26.499 26.656c-1.541 2.394-5.096 2.388-6.628-.012a89.921 89.921 0 0 0-26.402-26.753c-2.348-1.542-2.341-5.049.012-6.582a89.931 89.931 0 0 0 26.499-26.656c1.54-2.394 5.096-2.388 6.628.012a89.933 89.933 0 0 0 26.402 26.753c2.348 1.542 2.341 5.049-.012 6.582z"
      data-original="url(#A)"
    /><path
      fill="url(#B)"
      d="M402.855 165.974a65.562 65.562 0 0 0-19.317 19.431c-1.123 1.745-3.715 1.74-4.831-.009a65.54 65.54 0 0 0-19.246-19.502c-1.711-1.124-1.707-3.68.009-4.798a65.562 65.562 0 0 0 19.317-19.431c1.123-1.745 3.715-1.741 4.831.009a65.563 65.563 0 0 0 19.246 19.502c1.712 1.124 1.707 3.68-.009 4.798z"
      data-original="url(#B)"
    /><path
      fill="url(#C)"
      d="M434.333 105.985a65.562 65.562 0 0 0-19.317 19.431c-1.123 1.745-3.715 1.74-4.831-.009a65.54 65.54 0 0 0-19.246-19.502c-1.711-1.124-1.707-3.68.009-4.798a65.562 65.562 0 0 0 19.317-19.431c1.123-1.745 3.715-1.741 4.831.009a65.563 65.563 0 0 0 19.246 19.502c1.711 1.124 1.706 3.68-.009 4.798z"
      data-original="url(#C)"
    /></g
  ></svg
>
