<script lang="ts">
  export let width: number = 20;
  export let stroke: string = "fgs3";
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 62 62"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M19 18L43.5 42.5M42.5 18.5L18 43M59 31C59 46.464 46.464 59 31 59C15.536 59 3 46.464 3 31C3 15.536 15.536 3 31 3C46.464 3 59 15.536 59 31Z"
    class="stroke-fgs3"
    stroke-width="5"
    stroke-linecap="round"
  />
</svg>
