<script lang="ts">
  export let width: number;
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 68 68"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_310_963)">
    <path
      d="M23 34C23 36.1756 23.6451 38.3023 24.8538 40.1113C26.0625 41.9202 27.7805 43.3301 29.7905 44.1627C31.8005 44.9952 34.0122 45.2131 36.146 44.7886C38.2798 44.3642 40.2398 43.3166 41.7782 41.7782C43.3166 40.2398 44.3642 38.2798 44.7886 36.146C45.2131 34.0122 44.9952 31.8005 44.1627 29.7905C43.3301 27.7805 41.9202 26.0625 40.1113 24.8538C38.3023 23.6451 36.1756 23 34 23C31.0836 23.0032 28.2875 24.1631 26.2253 26.2253C24.1631 28.2875 23.0032 31.0836 23 34ZM43.1667 34C43.1667 35.813 42.6291 37.5853 41.6218 39.0927C40.6146 40.6002 39.1829 41.7751 37.5079 42.4689C35.8329 43.1627 33.9898 43.3442 32.2117 42.9905C30.4335 42.6368 28.8002 41.7638 27.5182 40.4818C26.2362 39.1998 25.3632 37.5665 25.0095 35.7883C24.6558 34.0102 24.8373 32.1671 25.5311 30.4921C26.2249 28.8171 27.3998 27.3854 28.9073 26.3782C30.4147 25.3709 32.187 24.8333 34 24.8333C36.4303 24.836 38.7604 25.8026 40.4789 27.5211C42.1974 29.2396 43.164 31.5697 43.1667 34ZM35.0276 28.7686C34.8557 28.9405 34.7592 29.1736 34.7592 29.4167C34.7592 29.6597 34.8557 29.8929 35.0276 30.0648L38.0453 33.0833L28.5 33.0898C28.2569 33.0898 28.0237 33.1863 27.8518 33.3582C27.6799 33.5301 27.5833 33.7633 27.5833 34.0064C27.5833 34.2495 27.6799 34.4827 27.8518 34.6546C28.0237 34.8265 28.2569 34.9231 28.5 34.9231L38.0462 34.9167L35.0276 37.9353C34.9373 38.0179 34.8645 38.1179 34.8134 38.2292C34.7624 38.3404 34.7342 38.4608 34.7304 38.5832C34.7267 38.7056 34.7475 38.8275 34.7916 38.9417C34.8357 39.0559 34.9023 39.1601 34.9873 39.2481C35.0724 39.3362 35.1742 39.4063 35.2868 39.4544C35.3994 39.5024 35.5205 39.5275 35.643 39.5279C35.7654 39.5284 35.8867 39.5044 35.9997 39.4573C36.1127 39.4101 36.2151 39.3408 36.3008 39.2534L36.3238 39.2314L39.6109 35.9452C39.8663 35.6898 40.0689 35.3866 40.2072 35.0529C40.3454 34.7193 40.4165 34.3616 40.4165 34.0005C40.4165 33.6393 40.3454 33.2816 40.2072 32.948C40.0689 32.6143 39.8663 32.3111 39.6109 32.0558L36.3238 28.7686C36.1519 28.5967 35.9187 28.5002 35.6757 28.5002C35.4326 28.5002 35.1995 28.5967 35.0276 28.7686Z"
      class="fill-bgs1"
    />
  </g>
  <defs>
    <clipPath id="clip0_310_963">
      <rect width="22" height="22" fill="white" transform="translate(23 23)" />
    </clipPath>
  </defs>
</svg>
