<script lang="ts">
  export let width: number = 15;
  export let color: string = "fgs2";
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 50 38"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M33 3L45.1142 13.7681C48.2468 16.5527 48.2468 21.4473 45.1142 24.2319L33 35M3 19H45.5"
    class="stroke-{color}"
    stroke-width="5"
    stroke-linecap="round"
  />
</svg>
