<script lang="ts">
  export let width: number;
</script>

<svg
  {width}
  height={width}
  viewBox="0 0 68 68"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M42.6401 29.636L33.4976 22.9276C32.7835 22.4047 31.9386 22.0898 31.0565 22.0178C30.1744 21.9458 29.2896 22.1195 28.5002 22.5197C27.7108 22.9199 27.0476 23.5308 26.5842 24.2849C26.1209 25.0389 25.8754 25.9066 25.875 26.7916V40.2083C25.8752 41.0937 26.1207 41.9618 26.5842 42.7162C27.0478 43.4706 27.7114 44.0817 28.5012 44.4819C29.2911 44.882 30.1764 45.0555 31.0589 44.983C31.9413 44.9105 32.7865 44.595 33.5005 44.0713L42.643 37.363C43.2498 36.9179 43.7434 36.3362 44.0835 35.6649C44.4237 34.9936 44.601 34.2516 44.601 33.499C44.601 32.7464 44.4237 32.0044 44.0835 31.3331C43.7434 30.6618 43.2498 30.08 42.643 29.635L42.6401 29.636ZM41.5054 35.8172L32.3629 42.5255C31.9346 42.8386 31.4279 43.0269 30.8991 43.0698C30.3703 43.1127 29.84 43.0085 29.3668 42.7686C28.8935 42.5287 28.4959 42.1626 28.2179 41.7107C27.9399 41.2588 27.7924 40.7388 27.7917 40.2083V26.7916C27.7863 26.2601 27.9311 25.7378 28.2093 25.2849C28.4875 24.8319 28.8878 24.4666 29.3643 24.231C29.7696 24.0248 30.2177 23.9171 30.6724 23.9166C31.2818 23.9189 31.8744 24.1168 32.3629 24.4811L41.5054 31.1894C41.8691 31.4565 42.1648 31.8054 42.3686 32.208C42.5725 32.6106 42.6787 33.0554 42.6787 33.5067C42.6787 33.9579 42.5725 34.4028 42.3686 34.8053C42.1648 35.2079 41.8691 35.5568 41.5054 35.8239V35.8172Z"
    class="fill-bgs1"
  />
</svg>
