<g clip-path="url(#clip0_448_204)">
  <path
    d="M256 0C205.368 0 155.873 15.0141 113.774 43.1438C71.6751 71.2734 38.863 111.255 19.487 158.033C0.110921 204.811 -4.95873 256.284 4.91908 305.943C14.7969 355.602 39.1785 401.217 74.9808 437.019C110.783 472.822 156.398 497.203 206.057 507.081C255.716 516.959 307.189 511.889 353.967 492.513C400.745 473.137 440.727 440.325 468.856 398.226C496.986 356.127 512 306.632 512 256C511.927 188.127 484.932 123.055 436.938 75.0618C388.945 27.0683 323.873 0.0734097 256 0ZM440.469 149.333H371.755C356.373 113.685 336.119 80.3432 311.573 50.2613C365.898 65.0438 412.21 100.639 440.469 149.333ZM352 256C351.825 277.72 348.402 299.292 341.845 320H170.155C163.598 299.292 160.175 277.72 160 256C160.175 234.28 163.598 212.708 170.155 192H341.845C348.402 212.708 351.825 234.28 352 256ZM187.264 362.667H324.736C306.629 398.416 283.481 431.378 256 460.544C228.509 431.386 205.36 398.422 187.264 362.667ZM187.264 149.333C205.371 113.584 228.52 80.6221 256 51.456C283.491 80.6138 306.64 113.578 324.736 149.333H187.264ZM200.533 50.2613C175.95 80.3367 155.661 113.679 140.245 149.333H71.5308C99.8157 100.617 146.169 65.0188 200.533 50.2613ZM52.5015 192H125.867C120.336 212.888 117.469 234.392 117.333 256C117.469 277.608 120.336 299.112 125.867 320H52.5015C39.3887 278.341 39.3887 233.659 52.5015 192ZM71.5308 362.667H140.245C155.661 398.321 175.95 431.663 200.533 461.739C146.169 446.981 99.8157 411.383 71.5308 362.667ZM311.573 461.739C336.119 431.657 356.373 398.315 371.755 362.667H440.469C412.21 411.361 365.898 446.956 311.573 461.739ZM459.499 320H386.133C391.664 299.112 394.531 277.608 394.667 256C394.531 234.392 391.664 212.888 386.133 192H459.456C472.569 233.659 472.569 278.341 459.456 320H459.499Z"
    class="fill-fgs2"
  />
</g>
<defs>
  <clipPath id="clip0_448_204">
    <rect width="512" height="512" fill="white" />
  </clipPath>
</defs>
