<script lang="ts">
    export let title = "";
</script>

<div class="flex bg-bgs3 justify-between rounded-t-md px-4 py-2">
    <div>
        {title}
    </div>
    <button class="text-b2" on:click>close</button>
</div>
